*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f8f8f8;
	font-family: 'Arial', sand-serif;
}


h1{
	text-align: left;
	margin-left: 135px;
	margin-top: 21px; 
	font-size: 2.2em;
	color: #f04153;
	text-shadow: 4px 5px 0px #dbea20;
}
h2{
	text-align: center;
	font-weight: bold;
}
h3{
	color: #c4f118;
	text-shadow: 2px 1px 1px #000000;
}
h5{
	text-align: left;
	margin-left: 100px;
	margin-top: 21px; 
	font-size: 2.2em;
	color: #f04153;
	text-shadow: 4px 5px 0px #dbea20;
}
p{
	font-weight: black;
	padding: 30px 0px 0px 0px;
	font-size: 1.15em;
}
a{
	text-decoration: none;
}
.area{
	width: 335px;
	height: 65px;
	background-color: #fff;
	margin: 10px 7px;
}
.input_area{
	padding: 1px 0 180px;

}


.wraper{
	width: 940px;
	margin: 0 auto;
	/*background-color: #D53737;*/
	height: 100%;
}
.blu{
	height: 28px;
	background-color: #b3dde6;
}
.row{
	overflow: hidden;
}
.right{
	float: right;
}
.left{
	float: left;
}
.center{
	float: left;
}
.form{
	width: 350px;
	height: 520px;
	background-color: #9fdae5;
}
